html {
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
}

header {
height: 4rem;
width: 100%;
background-color: white;
}

/*logo*/

.logo {
    position: relative;
    height: 2rem;
    padding-left: 1.5rem;
    padding-top: 0.9375rem;
    display: inline-block;   
}

.logo-background {
    width: 3.1875rem;
    height: 2.25rem;
    float: left;
}

.colmaracademy {
    display: inline-block;
    padding-top: 1.25rem;
}

.colmar {
    font-weight: 700;
    padding-top: 3.125rem;
}

.academy {
    font-weight: 500;
    color: gray;
}

/*nav right side*/

.navbaras {
    width: 100%;
    height: 4rem;
    display: flex;
}

.navbaro-konteineris {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.5rem;
}

.link {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 0.9rem;
}

.link a {
    text-decoration: none;
    color: rgb(56, 63, 65);
}

a {
    text-decoration: none; 
    color: rgb(56, 63, 65);
}

.form {
    height: 100%;
    width: 1rem;
    background-color: rgb(113, 212, 212);
}

header .mobile {
    display: none;
  }

/*borders*/

.border-container {
    border-right: 0.0625rem solid rgb(141, 142, 143);
    border-bottom: 0.0625rem solid rgb(141, 142, 143);
    border-left: 0.0625rem solid rgb(141, 142, 143);
    padding-right: 0.125rem;
}   

/*learn something*/

.learn {
    background-color: rgb(212, 214, 216);
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.featured-image {
    width: 60%;
    height: 100%;
    margin: 2rem 1.5rem;
}

.featured-image img {
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
}

.featured-text {
    text-align: left;
}

.featured-text h1 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    color: rgb(56, 63, 65);
}

.featured-text h3 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1.2rem;
    padding-top: 1.2rem;
    font-weight: 700;
    color: rgb(56, 63, 65);
}

button {
    text-align: center;
    height: 2.5rem;
    width: 18.125rem;
    margin-top: 1.9rem;
    background-color: rgb(56, 63, 65);
    border: none;
}

.featured-text h4 {
    font-size: 1rem; 
    color: rgb(255, 255, 255); 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


/*camp*/

.camp {
   width: 100%;
   display: flex;
   justify-content: stretch;
}

/*campus left side container*/

.camp .practicing {
    width: 60%;
    height: auto; 
    padding: 2rem 1.5rem;
    border-style: solid;
    border-right-width: 0.0625rem;
    border-color: rgb(212, 214, 216);
}  

.practicing img {
    width: 100%;
    height: auto;

}

.text-under {
    margin-top: 2rem;
    margin-left: 1.5rem;
    text-align: left;
    color: rgb(56, 63, 65);
}

.text-under h2 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.text-under h5 {
    font-size: 1rem;
    padding-bottom: 2rem;
    line-height: 1.4rem;
}

.text-under h6 {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

/*campus rigt side container*/

.campus-activity {
    width: 100%;
    padding: 2rem 1rem 1rem;
    border-style: solid;
    border-bottom-width: 0.0625rem;
    border-color: rgb(212, 214, 216);
    display: flex;
    justify-content: stretch;
    align-items: center;
    box-sizing: border-box;
}  

.campus-image {
    width: 35%;
    height: auto;
}

.image-mobile {
    display: none;
} 

.campus-image img {
    width: 100%;
    height: auto;
}

.text-right {
    float: right; 
    padding-left: 1.5rem;
    color: rgb(56, 63, 65);
}

.campus-activity .text-right h3 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;

}

.campus-activity h4 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 0.75rem;
}

.read-more {
    color: cornflowerblue;
    line-height: 2.8125rem;
}

/*our campus*/

.our-campus {
    width: 100%;
    padding: 1rem 1rem;
    border-style: solid;
    border-top-width: 0.0625rem;
    margin: 0.0625rem;
    border-color: rgb(212, 214, 216);
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: fit-content;
    box-sizing: border-box;
}  

.campus-image {
    width: 35%;
    height: auto;
}

.our-campus img {
    width: 100%;
    height: auto;
}

.our-campus .text-right {
     float: right; 
}

.our-campus .text-right h3 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
}

.our-campus h4 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 0.75rem;
}

.read-more {
    color: cornflowerblue;
    line-height: 2.8125rem;
}

/*our guest*/

.our-guest {
    width: 100%;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: fit-content;
    background-color: rgb(212, 214, 216);
    box-sizing: border-box;
}  

.campus-image {
    width: 35%;
    height: auto;
}

.our-guest img {
    width: 100%;
    height: auto;
}

.our-guest .text-right {
     float: right; 
}

.our-guest .text-right h3 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
}

.our-guest h4 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 0.75rem;
}

.read-more {
    color: cornflowerblue;
    line-height: 2.8125rem;
}

/* start learning chapter*/

.start-learning {
    width: 100%;
    background-color: rgb(232, 237, 240);
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    box-sizing: border-box;
}

.start-learning h2 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(56, 63, 65);
}

.six-containers {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.six-containers-second {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom:2rem;
}

.container {
    width: 31.5%;
    height: auto;
    background-color: white;
}

.container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.text-under-container {
    padding: 1rem 0 1.5rem 1rem;
    background-color: white;
    color: rgb(56, 63, 65);
}

.courses {
    padding-bottom: 0.5rem;
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1rem;
    font-weight: 500; 
}

.text-under-container h3 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.text-under-container h4 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem; 
}

.mobile-container {
    display: none;
}

/*video thesis*/

.video-thesis {
    width: 100%;
    background-color: rgb(241, 246, 248);
    display: flex;
    justify-content: stretch;
    height: fit-content;
}

.thesis h2 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(56, 63, 65); 
    background-color: rgb(241, 246, 248);
}

.video {
    width: 100%;
    height: auto;
    margin: 0 1.5rem 2rem 1.5rem;
    box-sizing: border-box;
}

video {
    width: 100%;
    height: auto;
    border-width: 0.125rem 0.125rem;
    border-style: solid;
    border-color: rgb(141, 142, 143);
}

.video-thesis h3 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    color: rgb(56, 63, 65);
}

.video-thesis h4 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: rgb(56, 63, 65);
}

.video-right {
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: fit-content;
    background-color: rgb(212, 214, 216);
}  

.image-right {
    width: 35%;
    height: auto;
    padding: 1rem 1rem;
    box-sizing: border-box;
}

.image-right img {
    width: 100%;
    height: auto;
}

.text-right-bottom {
     float: right; 
}

.text-right-bottom h3 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
}

.text-right-bottomt h4 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 0.75rem;
}

.now-then {
    margin-bottom: 2rem;
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: fit-content;
}  

.image-right {
    width: 35%;
    height: auto;
    padding: 1rem 1rem;
    box-sizing: border-box;
}

.image-right img {
    width: 100%;
    height: auto;
}

.text-right-bottom {
     float: right; 
}

.text-right-bottom h3 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
}

.text-right-bottom h4 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 0.75rem;
}

footer {
    width: 100%;
    height: 100px;
    border-top: 0.0625rem;
    border-style: solid;
    border-color: rgb(141, 142, 143);
}

.copyright {
    display: inline-block;
}

.copyright h6 {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 0.9rem;
    padding-left: 1.5rem;
    padding-top: 1rem;
    color: rgb(56, 63, 65);
}

.terms {
    float: right;
    padding-right: 1.5rem;
}

.terms ul li {
    display: inline-block;
    padding-top: 1rem;
    padding-left: 0.5rem;
}

.terms ul li a {
    font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(56, 63, 65);
}

@media only screen and (max-width: 760px) {
    .navbaro-konteineris {
        display: none;
    } 

    .colmaracademy {
        display: none;
    }

    /*header mobile*/
    
    .navbaras .mobile {
        display: block;
        width: 100%;
    }
    
    header .mobile ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding-left: 35px;
      }

      header .mobile li {
        padding-top: 18px;
      }

      /*learn something*/

    .learn {
       display: block;
        padding-bottom: 32px;
      }

    .featured-image {
        width: 100%;
        height: 100%;
        padding-bottom: 32px;
        margin: 0 0;
    }

    .featured-text {
        padding-left: 16px;
    }

    button {
        background-color:rgb(141, 142, 143)
    }

    /*campus*/

    .campus-image {
        display: none;
    }

    .practicing {
        display: none;
    }

    .campus-right {
        width: 100%;
        height: auto;
        display: block;
    }

    .campus-activity {
        display: block;
        padding-top: 16px; 
        border: none;
    }

    .image-mobile {
        width: 100%;
        height: auto;
        display: block; 
        padding-bottom: 32px; 
    }

    .image-mobile img {
        width: 100%;
        height: auto;
    }

    .text-right {
        float: none;
    }

    /*our campus*/

    .our-campus {
        display: block;
        border: none;
    }

    .our-campus .text-right {
        float: none;
    }

    .our-guest {
        display: block;
        background-color: white;
        margin-bottom: 0;
        border-style: solid;
        border-bottom-width: 0.0625rem;
        border-color: rgb(212, 214, 216);
    }

    .our-guest .text-right {
        float: none;
    }

    /*start learning*/

    .six-containers {
        display: none;
    }

    .six-containers-second {
        display: none;
    }

    .start-learning {
        background-color: white;
        padding-right: none;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 24px;
        border-style: solid;
        border-bottom-width: 0.0625rem;
        border-color: rgb(212, 214, 216);
        box-sizing: border-box;
    }

    .mobile-container {
        width: 94%;
        height: auto;
        padding: 16px 24px 24px 16px;
        margin: 8px 16px;
        background-color: rgb(223, 226, 231);
        display: block;
        box-sizing: border-box;
    }
    .mobile-container h3 {
        font-family: 'Nunito-Sans-semi-bold-600', sans-serif;
        font-size: 1.4rem;
        font-weight: 700;
    }

    .start-learning h2 {
        padding-bottom: 16px;
    }

    /*video thesis*/

    .video-text-under {
        display: none;
    }

    .right-container {
        display: none;
    }

    .video {
        margin: 0 0 0 0;
    }

    .thesis h2 {
        padding-bottom: 16px;
        background-color: white;
    }

    .copyright {
        padding-top: 24px;
    }

    .terms {
        padding-top: 24px;
    }

    footer {
        height: 100%; 
        padding-bottom: 16px;
    }
}